<header class="header">
  <div class="logo">
    <img class="logo-image" src="assets/images/rick-and-morty-title.png" alt="Rick and Morty Logo" />
  </div>
  <div class="favorites">
    <select [(ngModel)]="selectedFavorite" (change)="onFavoriteSelect(selectedFavorite!)" class="favorites-select">
      <option [ngValue]="null">Select a favorite character</option>
      @for (favorite of favorites$ | async; track favorite.id) {
      <option [value]="favorite.id">
        {{ favorite.name }}
      </option>
      }
    </select>
  </div>
</header>
