.characters-table {
  width: 100%;
  border: 1px solid #889392;
  background-color: #101414;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.characters-table-row-is-clicked {
  font-weight: bold;
}

.page-info {
  color: white;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filters-container {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.mat-mdc-form-field {
  font-size: 1rem;
  width: 100%;
}

.favorite-icon {
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease;
}

.favorite-icon:hover {
  color: #ffd700;
}

.favorite-icon.favorite {
  color: #ffd700;
}

@media (max-width: 768px) {
  .page-info {
    width: fit-content;
    flex: 1;
  }

  .paginator {
    display: flex;
    flex: 5;
    justify-content: start;
  }

  .filters-container {
    flex-direction: row;
  }
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.alive {
  color: green;
}

.dead {
  color: red;
}

.unknown {
  color: gray;
}
