<div class="footer">
  <a href="https://rickandmortyapi.com/" target="_blank" class="api-link">
    <p>Rick and Morty API</p>
  </a>

  <div class="total-characters">
    <div class="list-container">
      <p>Total characters by Species</p>
      <ul class="list">
        @for (species of (speciesCount$ | async) ?? []; track species.species) {
        <li>{{ species.species }}: {{ species.count }}</li>
        }
      </ul>
    </div>
    <div class="list-container">
      <p>Total Characters by Type</p>
      <ul class="list">
        @for (type of (typesCount$ | async) ?? []; track type.type) {
        <li>{{ type.type }}: {{ type.count }}</li>
        }
      </ul>
    </div>
  </div>

  <div class="created-by">
    <p>Example project using Rick and Morty API with Redux Pattern in Angular</p>
    <p>Created by Matias Pascual</p>
  </div>
</div>
