.footer {
  color: white;
  text-align: center;
  overflow: hidden;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 670px;
  margin: 0 auto;
}

.total-characters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.list-container {
  text-transform: uppercase;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 10rem;
}

.list {
  list-style: none;
  padding: 0 2rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: start;
  overflow: auto;
}

.list li {
  font-size: 0.7rem;
}

.api-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.api-link {
  text-decoration: none;
  color: white;
}

.api-link:hover {
  text-decoration: underline;
}

.created-by {
  font-variant: small-caps;
  font-size: 0.9rem;
  margin-top: 2rem;
  background-color: var(--primary-color);
  color: black;
  width: 100%;
}
