.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

.content-container {
  padding: 0 2rem;
}

.footer-container {
  min-width: 670px;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .content-container {
    padding: 0;
  }
}
