.characters-container {
  margin: 0 auto;
  padding: 0 2rem;
  min-width: 670px;
  position: relative;
}

@media (max-width: 768px) {
  .characters-table-container {
    width: 100%;
    padding: 0 0rem;
  }
}
