@if (character) {
<div class="character-detail-container">
  <div class="character-detail">
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="character-detail-content">
      <img [src]="character.image" alt="character-image" class="character-detail-image" />
      <div class="character-detail-info">
        <h3 class="character-detail-name">{{ character.name }}</h3>
        <p class="character-detail-description">Description</p>
      </div>
    </div>
  </div>
</div>
}
