@if (character) {
<div class="character-detail-container">
  <div class="character-detail">
    <button mat-icon-button class="close-button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="character-detail-content">
      <img [src]="character.image" alt="character-image" class="character-detail-image" />
      <div class="character-detail-info">
        <h3 class="character-detail-name">{{ character.name }}</h3>
        <p class="character-detail-description"><strong>Origin:</strong> {{ character.origin.name }}</p>
        <p class="character-detail-description"><strong>Location:</strong> {{ character.location.name }}</p>
        <p class="character-detail-description">
          <strong>Another resident of {{ character.location.name }} :</strong>
          {{ resident$ | async }}
        </p>
        <!-- <p class="character-detail-description"><strong>Episodes:</strong> {{ character.episode.length }}</p> -->
      </div>
    </div>
  </div>
</div>
}
