<mat-drawer-container class="characters-detail-container">
  <mat-drawer mode="side" opened position="end" class="characters-detail-drawer">
    <div class="characters-detail-drawer-content">
      @if (character) {
      <img [src]="character.image" alt="character-image" class="characters-detail-drawer-image" />
      <div class="characters-detail-drawer-info">
        <h3 class="characters-detail-drawer-name">{{ character.name }}</h3>
        <p class="characters-detail-drawer-description">Description</p>
      </div>
      }
    </div>
  </mat-drawer>
</mat-drawer-container>
