.character-detail-container {
  position: fixed;
  bottom: 4rem;
  right: -2rem;
  width: 40rem;
  z-index: 100;
}

.character-detail {
  padding: 0.5rem;
  margin-left: 1rem;
}

.character-detail-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  background-color: #333;
}

.character-detail-image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 10px;
}

.character-detail-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 1rem;
  width: 100%;
}

.character-detail::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99%;
  height: 98%;
  background-color: #333;
  border-radius: 10px;
  z-index: -1;
}

.episode-info {
  padding-left: 0.2rem;
}
